{% extends 'layout.html.twig' %}

{% block body %}

<div class="titre">
    <h1>Hello !</h1>
 </div>

 <div class="published">
      <span>
       Je conçois, je développe et je deploie des applications web
      </span>
  </div>
   <div class="content">

    <p> Actuellement je suis devloppeuse full-stack à la entreprise SOGIP Cebo, Entreprise specialisé dans la reprographie , la papetrie et librairie. Avant j'ai travaillé chez la startup Simplon.co.Durant ces experiences, j'ai acquis une expertise dans le développment back-end(Symfon2, RubyOnRails),front-end(Design, twitter Bootstrap, zurbo Foundation, Responsive design ... ) et developement des applications mobile hybride(Ionic, Apache Cordova).
      </p>
      <p>
        Le reste de mon temps, je le passe à découvrir et à tester des nouvelles technologies, à
        donner des cours de programmation web ( Adie, Wifilles ...), participer à des meetups et des hackathons.

      </p>
      <p>
        Vous pouvez me rejoindre via mon mail "barache.nadia-at-gmail-dot-com"  or mon compte <span class="herf-footer"><a href="">LinkedIn</a></span> .
      </p>
       <div class="footnote">
    Nadia-
  </div>
       <div class="bottom-footer"></div>
       <div class="footer">
Website powered by <span class="herf-footer"><a href="">Me</a> </span>, hosted on  <span class="herf-footer"><a href="https://github.com/nadiabarache?tab=repositories"  target="_blank">Github</a> </span> and put again by @Me.
All of the<span class="herf-footer"><a href="" >blog's articles </a> are under Creative commons license
</div>
</div>


</main>

{% endblock %}